.profile-image{
  display: block;
  background: darken(#f2f2f2, 10%);
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.profile-menu-list{
  list-style: none;
  z-index: 1;
  padding: 0;
  background: #fff;
  position:absolute;
  border-radius: 0.188rem;
  margin-left: -1.75rem;
}