@import "../../assets/styles/_variables.scss";
@import "../../assets/styles/_mixins.scss";

$widthLogo: 8rem;
$heightLogo: 3rem;

header {
  display: flex;
  padding: 1rem 3rem;
  gap: 1rem;

  @include device(landscape) {
    max-width: $landscapeMaxWidthSize;
    margin: 0 auto;
  }

  @include device(mobile, "max-width") {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: $widthLogo;
    height: $heightLogo;
    cursor: pointer;
  }

  .right-side-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    width: 100%;

    @include device("mobile", "max-width") {
      flex-direction: column;
    }
  }
}