$defaultSize: 2.125rem;
$width: 25rem;

.search-bar {
  height: 3.125rem;
  max-width: $width;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  .search-icon {
    height: $defaultSize;
    width: $defaultSize;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  input {
   width: 100%;
   height: $defaultSize;
   border: none;
   background-color: #353340;
   border-radius: 0.5rem;
   padding: 0 2.5rem 0 1rem;
   color: #fff;

   &:focus {
    outline: none;
   }
  }
 }