@import '../../assets/styles/_variables.scss';
@import '../../assets/styles/_mixins.scss';

.container {
  @include handling-states;

  .error-image {
    height: $imageWidthHandling;
    width: $imageWidthHandling;
    background-image: url("data:image/svg+xml,%3Csvg height='256px' width='256px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cpath style='fill:%23FF5023;' d='M255.215,259.774c0.858-2.069,4.14-6.655,5.148-8.69l70.182-141.725l31.406,15.552l46.052,22.805 L512,199.215l-70.182,141.725c-24.711,49.9-85.755,70.51-135.655,45.799l0,0c-22.422-11.103-38.93-29.542-48.071-51.011 L255.215,259.774z'/%3E%3Cg%3E%3Cpath style='opacity:0.22;fill:%23CD2A00;enable-background:new ;' d='M474.051,180.423l-60.742,122.661 c-24.711,49.9-85.756,70.51-135.655,45.799l0,0c-7.001-3.467-13.424-7.649-19.227-12.414c9.202,21.149,25.574,39.295,47.735,50.269 l0,0c49.9,24.71,110.945,4.101,135.655-45.799L512,199.215L474.051,180.423z'/%3E%3Cpath style='fill:%23CD2A00;' d='M322.854,265.43c13.345-0.134,26.631,2.878,38.938,8.973c20.588,10.195,35.974,27.797,43.321,49.565 c2.83,8.38-1.671,17.468-10.05,20.295c-4.189,1.415-8.558,0.997-12.23-0.822c-3.673-1.819-6.652-5.04-8.067-9.229 c-4.611-13.662-14.267-24.709-27.189-31.108c-12.921-6.399-27.561-7.382-41.222-2.769c-8.378,2.829-17.464-1.671-20.295-10.05 c-2.83-8.379,1.67-17.467,10.05-20.295L322.854,265.43z'/%3E%3Cpath style='fill:%23CD2A00;' d='M425.163,279.908c-2.818,0-5.54-1.523-6.943-4.191l-17.158-32.618 c-2.016-3.83-0.543-8.568,3.287-10.584c3.831-2.016,8.569-0.543,10.584,3.287l17.158,32.618c2.016,3.83,0.543,8.568-3.287,10.584 C427.64,279.617,426.392,279.908,425.163,279.908z'/%3E%3Cpath style='fill:%23CD2A00;' d='M325.601,230.614c-3.756,0-7.074-2.708-7.719-6.536c-0.719-4.267,2.157-8.31,6.425-9.03 l36.343-6.124c4.268-0.719,8.31,2.157,9.03,6.425c0.719,4.267-2.157,8.31-6.425,9.03l-36.343,6.124 C326.471,230.577,326.033,230.614,325.601,230.614z'/%3E%3C/g%3E%3Cpath style='fill:%23FF6243;' d='M56.856,178.461l122.621-64.047l73.218,140.179c25.78,49.356,6.49,110.83-42.866,136.61l0,0 c-49.356,25.78-110.83,6.49-136.61-42.866L0,208.158l20.548-10.732L56.856,178.461z'/%3E%3Cg%3E%3Cpath style='opacity:0.22;fill:%23CD2A00;enable-background:new ;' d='M245.018,356.015L245.018,356.015 c-49.357,25.78-110.831,6.49-136.611-42.866L42.086,186.175l-21.538,11.25L0,208.158l73.218,140.179 c25.78,49.356,87.254,68.646,136.61,42.866l0,0c17.167-8.966,30.692-22.254,39.953-37.845 C248.226,354.281,246.639,355.169,245.018,356.015z'/%3E%3Cpath style='fill:%23CD2A00;' d='M192.543,275.665c2.649-8.438,11.638-13.132,20.074-10.486c8.44,2.648,13.133,11.636,10.486,20.074 c-7.099,22.622-22.743,40.254-42.263,50.45c-19.525,10.198-42.924,12.963-65.551,5.863c-8.439-2.648-13.133-11.635-10.486-20.074 c2.648-8.438,11.637-13.132,20.074-10.486c20.734,6.506,42.512-0.189,56.224-15.33L192.543,275.665z'/%3E%3Cpath style='fill:%23CD2A00;' d='M115.229,272.951c-0.378,0-0.761-0.027-1.146-0.084l-36.466-5.339 c-4.283-0.628-7.246-4.607-6.618-8.89c0.627-4.283,4.603-7.247,8.89-6.618l36.466,5.339c4.283,0.628,7.246,4.607,6.618,8.89 C122.404,270.146,119.056,272.951,115.229,272.951z'/%3E%3Cpath style='fill:%23CD2A00;' d='M160.755,249.165c-1.176,0-2.369-0.265-3.492-0.827c-3.873-1.932-5.447-6.638-3.514-10.511 l16.451-32.98c1.932-3.874,6.636-5.451,10.511-3.514c3.873,1.932,5.447,6.638,3.514,10.511l-16.451,32.98 C166.402,247.574,163.633,249.165,160.755,249.165z'/%3E%3C/g%3E%3C/svg%3E");
  }
}