.title-searched {
  text-align: center;
  text-transform: capitalize;
}

.loading-infinite-scroll {
  margin: 3rem 0;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  margin-top: 3rem;
}