.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .loading {
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.188rem solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}