$border-radius: 0.188rem;
$primary: #f2f2f2;

.list-item{
  a{
    display:block;
    padding: .75rem 1rem;
    text-decoration: none;
    color: darken($primary ,50%);

    &:hover{
      background: darken($primary, 5%);
    }
  }

  &:first-child a:hover{
    border-radius: $border-radius $border-radius 0 0;
  }

  &:last-child a:hover{
    border-radius: 0 0 $border-radius $border-radius;
  }
}