.movie-detail {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  .movie-image-container {
    position: relative;

    img {
      max-height: 18.75rem;
      object-fit: cover;
      width: 100%;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.7);
      padding: 1rem;
    }
  }

  .movie-information {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .movie-rating {
      color: orange;
    }

    .movie-title {
      display: flex;
      justify-content: space-between;
    }
  }
}