@import "./assets/styles/_variables.scss";
@import "./assets/styles/_mixins.scss";

.home-page {
  padding: 1rem 3rem;
  height: calc(100vh - 7.125rem);

  @include device(landscape) {
    max-width: $landscapeMaxWidthSize;
    margin: 0 auto;
  }

  @include device(mobile, "max-width") {
    height: calc(100vh - 15.125rem);
  }
}