$media: (
    mobile: 40rem,
    tablet: 48rem,
    desktop: 64rem,
    landscape: 80rem,
);

@mixin device($breakpoint, $screenSize: "min-width") {
    @each $breakpoints, $size in $media {
        @if $breakpoint == $breakpoints {
            @media screen and ($screenSize: $size) {
                @content;
            }
        }
    }
}

@mixin handling-states {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 5rem;
    text-align: center;
  }